*{
	margin-top: 0px;
	margin-left: 50px;
	margin-right: 50px;
}
.head1 #but{
	color:white;
	background-color: #33cc33;
	border-color:#33ccff;
	float:left;
	 -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;

}
.head1 #but:hover{
	color:black;
	background-color: #99ff99;
}
.head1{
	background-color: #434333;
	height: 35px;
	position: fixed;
	width: 78%;
}
.head1 h2 #front{
	padding-top: 5px;
	color: white;
	float: left;
	margin-left: 0px;
	margin-right: -38px;
}
.head1 h2 #back{
	padding-top: 5px; 
	float: left;
	color:#009999;
	margin-right: 0px;
	margin-right: 44px;
}
.head1 #backk{
	padding:8px; 
	float: left;
	color:green;
}
.img{
	clear: both;
}
.img #img1:hover{
	 -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
  width:200px;
  height:200px;
}
.img #img1{
	margin-top:100px; 
	width: 100px;
	height: 100px;
	border-radius: 30px;
	 -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
}
.img #p3:hover{
	 background-color: green;
}

 .img #p3{
 	color:white;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
	background-color: #009999;
	text-align: center;
	width: 125px;
	margin-left: 42%;
	margin-top: 40px;
	border-radius: 5px;
	padding:15px;
}
.img{
	text-align: center;
	height: 445px;
	background-image: url("gray-bg.jpg");
}
.project{
	 -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
	text-align: center;
	height: 400px;
}
.project #pr0{
	clear: both;
}
.project #pr1{
	background-color: gray;
	margin: 20px;
	height: 190px;
	width: 190px;
	float: left;
}
.project #pr2{
	background-color: gray;
	margin: 20px;
	height: 190px;
	width: 190px;
	float: left;
}
.project #pr3{
	background-color: gray;
	margin: 20px;
	height: 190px;
	width: 190px;
	float: left;
}
.project #pr4{
	background-color: #009999;
	color: white;
	text-align: center;
	width: 200px;
	margin-left: 38%;
	margin-top: 60px;
	border-radius: 5px;
	padding:9px;
	clear: both;
	 -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
}
.project #pr4:hover{
	background-color: green;
	font-size: 18px;
}
.foot{
	text-align: center;
	background-color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	height:20px;
}
.foot #foot1{
	color: white;
	float: left;
	margin-left: 42%;
	margin-right: 65px;
}

.foot #box1{
	float:left;
	margin-right: -40px;
	background-color: blue;
	width: 20px;
	height: 15px;
}
.foot #box2{
	float: left;
	margin-right: -40px;
	background-color: green;
	width: 20px;
	height: 15px;
}
.foot #box3{
	float: left;
	margin-right: -40px;
	background-color: green;
	width: 20px;
	height: 15px;
}
.foot #box4{
	margin-right: -40px;
	float: left;
	background-color: green;
	width: 20px;
	height: 15px;
}
.hide{
	background-color: green;
	color:white;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
}
